<ion-header>
  <ion-toolbar>
    <ion-title>Add Closing Balance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>s
  <ion-grid>
    <ng-container *ngIf="sessionDetail;else elseBlock">
      <ion-row>
        <ion-col size="12">
          <ion-card style="--background:'#54c5c3';border-radius: 10px; color:white">
            <ion-card-content>
              <h2>Opening Balance: <B>&#x20B9; {{sessionDetail?.session_amount}}</B></h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card style="--background:'#bd7eb3';border-radius: 10px; color:white">
            <ion-card-content>
              <h2>Drawer Balance: <B>&#x20B9; {{sessionDetail?.drawer_balance}}</B></h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card style="--background:'#bd7eb3';border-radius: 10px; color:white">
            <ion-card-content>
              <h2>Closing Balance: <B>&#x20B9; {{sessionDetail?.closing_balance}}</B></h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
  <ng-template #elseBlock>
    <ion-col>
      <ion-text color="dark" class="ion-text-center">
        <p>No Active Session</p>
      </ion-text>
    </ion-col>
  </ng-template>
</ion-content>
  <ion-footer *ngIf="sessionDetail"  style="background: #f6f6f6;">
    <form id="MValidform" role="form" #MValidForm="ngForm">
    <ion-grid>
      <ion-row>
  
          <ion-col size="12">
    
            <ion-item mode="ios" lines="full" >
              <ion-input type="text" placeholder="Enter Closing Balance"
              inputmode="numeric" [(ngModel)]="closing_balance" name="amount" required></ion-input>
          </ion-item>
          </ion-col>  
            <ion-col size="12">
              <ion-button expand="full" shape="round" color="tertiary" [disabled]="!MValidForm.valid" (click)="AddClosingBalance()">Add Closing Balance</ion-button>
            </ion-col>
  
        </ion-row>
      </ion-grid>
    </form>
  </ion-footer>
     


