<ion-header>
  <ion-toolbar>
    <ion-title>Employee Expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="expenses">
    <ng-container *ngFor="let expense of expenses; let i = index">
      <ion-row>
        <ion-col size="10">
          <h3>Expense {{ i + 1 }}</h3>
        </ion-col>
        <ion-col size="2" class="text-right">
          <ion-button fill="clear" color="danger" (click)="removeExpense(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-label>In Amount</ion-label>
          <ion-input
            [(ngModel)]="expense.in_amount"
            type="number"
            placeholder="Enter amount added"
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-label>Expense Reason</ion-label>
          <ion-input
            [(ngModel)]="expense.expense_reason"
            placeholder="Enter expense reason"
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-label>Amount Spent</ion-label>
          <ion-input
            [(ngModel)]="expense.expense_amount"
            type="number"
            placeholder="Enter amount spent"
          ></ion-input>
        </ion-col>
      </ion-row>



      <ion-row *ngIf="i < expenses?.length - 1">
        <ion-col>
          <hr />
        </ion-col>
      </ion-row>
    </ng-container>

    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="addNewExpense()" color="secondary">
          Add New Expense
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      expand="full"
      (click)="saveEditExpense()"
      color="primary"
      [disabled]="expenses?.length === 0"
    >
      {{ buttonText }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
